# __1. Credit Risk Modelling:__ Simple Exploratory Data Analysis and Loading Dataset
## by: __Aprian Immanuel__ (087785160835 / immanuelaprian@gmail.com)

### Before we arrived in Exploratory Data Analysis, we did as we called `Dataset Preparations`. This `Dataset Preparations` have step as following;
#### 1. We've tried to import raw dataset directly using Python Library `(Pandas and Dask)` but we encountered problems due to our less sufficiency memory size. We decided to use another method
#### 2. We decided to do formatting the raw CSV dataset using both Microsoft Excel and SQL combined. 
#### 3. First, we did CSV formatting using Microsoft Excel, replaced the blank values with Null to avoid truncated data warning in SQL, removed thousand separator and then saved it.
#### 4. After that, we imported the formatted CSV to SQL using `LOAD DATA INFILE` Query. The query was succesfull. In the end, we got 6 tables in 1 schema as equal to 6 raw CSV data we received
#### 5. After we joined some tables, we exported them into new sql and csv data. Then we proceed to Exploratory Data Analysis step. We decided to limit data rows for 15000 rows due to efficiency reason

In [1]:
#import library
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv('precredit_train.csv', sep=';') #import dataset
df = df.drop(['NULL', 'MyUnknownColumn', 'LN_ID.1', 'MyUnknownColumn.1', 'SK_ID_PREV.1', 'LN_ID.2', 'CONTRACT_STATUS'], axis=1) #drop unnecessary feature
df = df.rename(columns={'CONTRACT_TYPE.1' : 'CONTRACT_TYPE_PREV_APP', 'ANNUITY.1' : 'ANNUITY_PREV_APP', 'PRICE.1':'PRICE_PREV_APP', 'WEEKDAYS_APPLY.1':'WEEKKDAYS_APPLY_PREV_APP', 'HOUR_APPLY.1': 'HOUR_APPLY_PREV_APP', 'APPROVED_CREDIT.1':'APPROVED_CREDIT_PREV_APP'}, inplace=False) #rename feature
df.head()

,LN_ID,TARGET,CONTRACT_TYPE,GENDER,NUM_CHILDREN,INCOME,APPROVED_CREDIT,ANNUITY,PRICE,INCOME_TYPE,...,PRICE_PREV_APP,WEEKKDAYS_APPLY_PREV_APP,HOUR_APPLY_PREV_APP,DAYS_DECISION,TERM_PAYMENT,YIELD_GROUP,FIRST_DRAW,FIRST_DUE,TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,198658,0,Cash loans,F,0,207000.0,1125000.0,47794.5,1125000.0,Working,...,1.069411e+05,SUNDAY,17,-343,10.0,low_normal,365243.0,-308.0,-35.0,0.0
1,186157,0,Cash loans,F,1,112500.0,152820.0,16177.5,135000.0,Commercial associate,...,4.913960e+07,SATURDAY,15,-2713,10.0,high,365243.0,-2682.0,-2495.0,1.0
2,176791,0,Cash loans,M,0,139500.0,339948.0,26437.5,315000.0,Working,...,6.137505e+04,SUNDAY,11,-2424,16.0,high,365243.0,-2393.0,-1941.0,1.0
3,155702,0,Cash loans,M,0,135000.0,640080.0,31261.5,450000.0,State servant,...,2.965500e+04,THURSDAY,13,-2393,6.0,high,365243.0,-2362.0,-2215.0,1.0
4,170611,0,Cash loans,M,0,135000.0,199080.0,14557.5,157500.0,Working,...,4.070871e+08,TUESDAY,10,-1150,24.0,middle,365243.0,-1120.0,-424.0,1.0

In [6]:
df.shape

(15000, 44)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 44 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LN_ID                      15000 non-null  int64
 1   TARGET                     15000 non-null  int64
 2   CONTRACT_TYPE              15000 non-null  object
 3   GENDER                     15000 non-null  object
 4   NUM_CHILDREN               15000 non-null  int64
 5   INCOME                     15000 non-null  float64
 6   APPROVED_CREDIT            15000 non-null  float64
 7   ANNUITY                    14999 non-null  float64
 8   PRICE                      14988 non-null  float64
 9   INCOME_TYPE                15000 non-null  object
 10  EDUCATION                  15000 non-null  object
 11  FAMILY_STATUS              15000 non-null  object
 12  HOUSING_TYPE               15000 non-null  object
 13  DAYS_AGE                   15000 non-null  int64
 14  DAYS_WORK                  15000 non-null  int64
 15  DAYS_REGISTRATION          15000 non-null  int64
 16  DAYS_ID_CHANGE             15000 non-null  int64
 17  WEEKDAYS_APPLY             15000 non-null  object
 18  HOUR_APPLY                 15000 non-null  int64
 19  ORGANIZATION_TYPE          15000 non-null  object
 20  EXT_SCORE_1                6460 non-null   float64
 21  EXT_SCORE_2                14969 non-null  float64
 22  EXT_SCORE_3                12225 non-null  float64
 23  SK_ID_PREV                 15000 non-null  int64
 24  INST_NUMBER                15000 non-null  int64
 25  INST_DAYS                  15000 non-null  int64
 26  PAY_DAYS                   14999 non-null  float64
 27  AMT_INST                   15000 non-null  float64
 28  AMT_PAY                    14999 non-null  float64
 29  CONTRACT_TYPE_PREV_APP     15000 non-null  object
 30  ANNUITY_PREV_APP           15000 non-null  float64
 31  APPLICATION                15000 non-null  float64
 32  APPROVED_CREDIT_PREV_APP   15000 non-null  float64
 33  AMT_DOWN_PAYMENT           10339 non-null  float64
 34  PRICE_PREV_APP             14480 non-null  float64
 35  WEEKKDAYS_APPLY_PREV_APP   15000 non-null  object
 36  HOUR_APPLY_PREV_APP        15000 non-null  int64
 37  DAYS_DECISION              15000 non-null  int64
 38  TERM_PAYMENT               15000 non-null  float64
 39  YIELD_GROUP                15000 non-null  object
 40  FIRST_DRAW                 14993 non-null  float64
 41  FIRST_DUE                  14993 non-null  float64
 42  TERMINATION                14993 non-null  float64
 43  NFLAG_INSURED_ON_APPROVAL  14993 non-null  float64
dtypes: float64(20), int64(13), object(11)
memory usage: 5.0+ MB

## Descriptive Analysis

In [15]:
df.describe()

,LN_ID,TARGET,NUM_CHILDREN,INCOME,APPROVED_CREDIT,ANNUITY,PRICE,DAYS_AGE,DAYS_WORK,DAYS_REGISTRATION,...,APPROVED_CREDIT_PREV_APP,AMT_DOWN_PAYMENT,PRICE_PREV_APP,HOUR_APPLY_PREV_APP,DAYS_DECISION,TERM_PAYMENT,FIRST_DRAW,FIRST_DUE,TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,15000.000000,15000.000000,15000.000000,1.500000e+04,1.500000e+04,14999.000000,1.498800e+04,15000.000000,15000.000000,15000.000000,...,1.500000e+04,1.033900e+04,1.448000e+04,15000.000000,15000.000000,15000.000000,14993.000000,14993.000000,14993.000000,14993.000000
mean,199580.163800,0.074867,0.419600,1.690944e+05,5.928158e+05,26875.987032,5.316990e+05,-16235.939000,68998.902000,-5057.053733,...,4.442371e+05,1.170630e+05,1.230416e+06,12.650267,-1119.963467,14.202733,342496.813713,-473.966584,75294.525712,0.325018
std,57659.550443,0.263185,0.733102,9.416028e+04,3.938100e+05,14073.005288,3.606592e+05,4372.330198,145545.001824,3544.987062,...,8.695527e+06,1.498732e+06,1.245088e+07,3.354127,789.499885,11.362874,88404.283245,14967.569856,148700.522981,0.468397
min,100009.000000,0.000000,0.000000,2.700000e+04,4.500000e+04,2583.000000,4.500000e+04,-25200.000000,-16651.000000,-20516.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,-2922.000000,0.000000,-2922.000000,-2891.000000,-2768.000000,0.000000
25%,149109.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16456.500000,2.340000e+05,-19924.250000,-2893.000000,-7572.000000,...,4.770675e+04,0.000000e+00,4.731975e+04,10.000000,-1680.000000,6.000000,365243.000000,-1645.000000,-1276.000000,0.000000
50%,199040.000000,0.000000,0.000000,1.575000e+05,5.094000e+05,24732.000000,4.500000e+05,-15937.000000,-1285.000000,-4594.000000,...,9.805950e+04,2.389500e+03,9.603900e+04,13.000000,-869.000000,12.000000,365243.000000,-832.000000,-496.000000,0.000000
75%,249791.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34465.500000,6.795000e+05,-12618.750000,-275.000000,-2077.750000,...,2.028105e+05,8.619750e+03,1.948928e+05,15.000000,-472.000000,18.000000,365243.000000,-436.000000,-70.000000,1.000000
max,299984.000000,1.000000,8.000000,1.935000e+06,2.961000e+06,136687.500000,2.961000e+06,-7690.000000,365243.000000,0.000000,...,4.968023e+08,6.524438e+07,4.453628e+08,23.000000,-21.000000,60.000000,365243.000000,365243.000000,365243.000000,1.000000

## Client Profiling

### 1. Who are our Clients (by gender)?

In [4]:
df['GENDER'].value_counts()

F    9997
M    5003
Name: GENDER, dtype: int64

### 2. How many Children that usually our clients have?

In [8]:
df['NUM_CHILDREN'].value_counts()

0    10546
1     2908
2     1303
3      205
4       28
5        9
8        1
Name: NUM_CHILDREN, dtype: int64

### 3. What are the income type that usually our clients have?

In [9]:
df['INCOME_TYPE'].value_counts()

Working                 7665
Commercial associate    3356
Pensioner               2914
State servant           1063
Unemployed                 2
Name: INCOME_TYPE, dtype: int64

### We could do Client Profiling with Exploratory Data Analysis as many as we need. There will be unlimited trial and experiment for this section. We decided to proceed to Clients Behaviour section

## Client Behaviour

### 1. On what days do usually our Clients apply the loan?

In [10]:
df['WEEKDAYS_APPLY'].value_counts()

TUESDAY      2562
MONDAY       2497
WEDNESDAY    2463
THURSDAY     2438
FRIDAY       2437
SATURDAY     1786
SUNDAY        817
Name: WEEKDAYS_APPLY, dtype: int64

### 2. On what days did our Clients apply for the previous application?

In [12]:
df['WEEKKDAYS_APPLY_PREV_APP'].value_counts()

SATURDAY     2386
FRIDAY       2340
WEDNESDAY    2214
TUESDAY      2190
MONDAY       2155
THURSDAY     2056
SUNDAY       1659
Name: WEEKKDAYS_APPLY_PREV_APP, dtype: int64

### 3. What income type that usually our clients have who have late payment than X days?

In [13]:
df[df['TARGET'] == 1]['INCOME_TYPE'].groupby(df['INCOME_TYPE']).count().sort_values(ascending=False)

INCOME_TYPE
Working                 699
Commercial associate    238
Pensioner               121
State servant            65
Name: INCOME_TYPE, dtype: int64

### We could have our Client Behaviour analysis with Exploratory Data Analysis as many as we need. There will be unlimited trial and experiment for this section. We had to learn the column description in order to understand what problems we're going to solve and deal with.

<hr>